.square{
  border-color: white;
  border-width: 1px;
  border-style: solid;
  float: left;
}
#grid{

}
.worm-block{
  background-color: lightgreen;
}
.wall-block{
  background-color: black;
}
.apple-block{
  background-color: red;
}
